 .pageTitle{
     margin: 4rem 0 0;
 }
 .pageTitle h1{
     color: #1e293b;
     font-size: 2.25rem;
     font-weight: 800;
}
.pageTitle p{
    color: #475569;
    font-size: 1.125rem;
    font-weight: 600;
}